{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
</head>
<body>
    <h1 class="ejemplo1">Hola Mundo desde el nuevo template</h1>
    <h2 class="ejemplo2">Cargando estilos</h2>
    <!-- Buttons (actions) -->
<button type="button" class="success button">Save</button>
<button type="button" class="alert button">Delete</button>
</body>
</html>
